body {
  color: #2c2c2e;
  font-size: 16px;
  line-height: 1.7rem;
  background: #e9e9e9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.app {
  /* display: flex;
  justify-content: space-around; */
  background: #ffffff;
  margin: 0 auto;
  padding: 40px;
}
.list {
  margin: 40px auto 0;
  border: solid 2px lightseagreen;
  border-radius: 1%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  background: #ffffff;
}
.list h1 {
  padding: 5px 0 5px 10px;
  font-size: 24px;
  font-weight: bold;
  background-color: lightseagreen;
  color: #d6f1ef;
  text-shadow: 1px 2px 3px #1c1c1c;
}
.tasks {
  border-top: 2px dashed #dddfe2;
  padding: 10px 0;
}
.taskList {
  padding: 5px 5px;
}

.checkBox {
  display:none;
}

.checkList_task--remove {
  padding-left:20px;
  position: relative;
  margin-right: 20px;
}

.checkList_task--remove::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}

.checkBox:checked + .checkList_task--remove {
  color: #009a9a;
}

.checkBox:checked + .checkList_task--remove::after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #4a4a47;
  border-right: 3px solid #4a4a47;

}

.checkList--addtask {
  box-sizing:border-box;
  border: 1px dashed #dddfe2;
  margin-top: 15px;
  width: 100%;
  padding: 10px;
}

.checkList--addtask:focus {
  outline: 0;
  border: solid 1px #12dec5;
  box-shadow: 0 0 4px #c7c7c7;
  transition: all 100ms;
}

.card_title {
  padding: 5px 0 5px 10px;
  cursor: pointer;
}
.card_title:hover {
  opacity: 0.8;
  color: rgba(44, 44, 46, 0.6);
  background: rgba(232, 232, 232, 0.8);
  transition: 300ms all ease;
}

.card_details {
  padding: 5px 10px 5px 10px;
  transition: 400ms all ease;
}

@media screen and (min-width: 481px) {
  .app {
    width: 800px;
  }
  .list {
    width: 500px;
  }
}

@media screen and (max-width: 480px) {

  .app {
    width: 100%;
    padding: 0;
  }
  .list {
    width: 100%;
  }
}
